<!DOCTYPE html>
<html>
<head>
	<title>Burger Mayhem!</title>
	<link rel="stylesheet" type="text/css" href="../../reset.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../burgers.css" >
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="wrap">
		<div class="row">
			<div id="header" class="container col-md-12 text-center">
				<h1>Fieri's Burger Mayhem!</h1>
			</div>
		</div>
	{{{ body }}}
	</div>
</body>