input {
    color: purple ;
  }

.uneaten-title {
    text-align: center;
  }

  #the_fieri {
    float: left;
    border-radius: 20%;
  }

  #burger {
    border-radius: 45%;
  }

  ul.uneaten li{
    display: inline-block;
    float: left;
    list-style-type: none;
    margin: 10px;
  }

  #update {
    text-align: center;
  }

  #eaten {
    text-align: center;
  }

  .burgers-eaten {
    overflow-y: scroll;
  }

  .btn {
    font-size: 18px;
  }